<header class="header">
    <section class="flex">
      <a routerLink="" class="logo">PostEx</a>
  
      <form action="" class="search-form">
        <input
          type="text"
          name="search_box"
          required
          placeholder="search services..."
          maxlength="100"
        />
        <button type="submit" class="fas fa-search"></button>
      </form>
  
      <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="search-btn" class="fas fa-search"></div>
        <div id="user-btn" class="fas fa-user"></div>
        <div id="toggle-btn" class="fas fa-sun"></div>
      </div>
    </section>
  </header>
