
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<section class="home-grid">
  <h1 class="heading">Dashboard</h1>

  <div class="box-container">


    <div class="box">
      <h3 class="title">top categories</h3>
      <div class="flex">
        <a routerLink="" *ngFor="let item of categories"><i [class]="item.icon"></i><span>{{item.name}}</span></a>
     
        
      </div>
    </div>

    <div class="box">
      <h3 class="title">Developer</h3>
      <div class="flex">
        <a routerLink="" *ngFor="let item of developers"><i [class]="item.icon"></i><span>{{item.name}}</span></a>
      </div>
    </div>
 


  </div>
</section>
<footer class="footer">
  &copy; copyright @ 2023 by <span>PostEx</span> | all rights
  reserved!
</footer>